<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Owin.Authentication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Owin.Authentication.Properties.Settings>
            <setting name="Owin_Authentication_VelocidiAuthService_AuthService"
                serializeAs="String">
                <value>https://www.velocidi-projects.com/_vti_bin/AuthService.asmx</value>
            </setting>
        </Owin.Authentication.Properties.Settings>
    </applicationSettings>
</configuration>